@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body{
    background-color: black;
    overflow-x: hidden;
}
.main{
    background-image: url(images/TR-tr-20231120-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: max(1920px, 100vw);
    background-position: center center;
    position: relative;    
}
.main .box{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    background-color: black;
    opacity: .65;
    
}
nav{
    max-width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    z-index: 10;
    position: relative;
    justify-content: space-between;
}
nav img{
    width: 200px;
}
.hero{
    position: relative;
    color: white;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20vw;
    gap: 25px;
}
.hero span:nth-child(1){
    font-size: 44px;
    font-weight:800;
    text-align: center;
}
.hero span:nth-child(2){
    font-size: x-large;
    text-align: center;
}
.hero span:nth-child(3){
    font-size: large;
    text-align: center;
}
.hero-2{
    display: flex;
    flex-direction: column;
    padding: 40px 120px;
}
.hero-2 .hero-description{
    font-size: large;
    text-align: center;
    margin-bottom: 20px;    
}
.seperation{
    border: 4px solid #232323;
}
.btn{
    background-color: rgba(248, 243, 243, .021);
    color: white;
    padding: 3px 8px;
    border-radius: 4px;
    border: .25px solid rgba(255, 255, 255, 0.615);
    outline: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 11pt;
}
.btn-red{
    background-color: #f30f20;
    font-size: 24px;
    padding: 3px 24px;
    white-space: nowrap;
}
.btn-red-sm{
    background-color: #f30f20;
}
.hero-buttons{
    display: flex;
    gap: 10px;
    align-content: center;
    justify-content: center;
}
.hero-buttons input{
    padding: 20px 10px;
    background-color: rgba(11, 11, 11, .7);
    border: 1px solid #f30f20;
    width: 400px;
    color: white;
}
.first{
    color: white;
    display: flex;
    max-width: 80%;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 50px 0;
}
.first div{
    align-content: center; 
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.first .secImg{
    position: relative;
}
.secImg img{
    width: 600px;
    position: relative;
    z-index: 10;
}
.secImg .video1{
    position: absolute;
    width: 450px;
    top: 80px;
    right: 70px;
}
.first div span:first-child{
    font-size: 48px;
    font-weight: bolder;
}
.first div span:last-child{
    font-size: 24px;
}
.video2{
    position: absolute;
    height: 210px;
    top: 50px;
    right: 120px;
}
.download-area{
    position: absolute;
    display: flex;
    flex-direction: row;
    border: 1px solid gray;
    height: 100px;
    width: 320px;
    border-radius: 10px;
    color: white;
    bottom: 30px;
    left: 140px;
    z-index: 11;
    padding: 10px;
    align-items: center;
    gap: 15px;
    background-color: black;
}
.download-area img{
    width: 60px;
    margin-left: 10px;
}
.download-area svg{
    margin-left: auto;
    margin-right: 20px;
}
.download-area span h6{
    font-size: 16px;
    font-weight: 400;
    color: white;
}
.download-area span p{
    font-size: 14px;
    color: blue;
}
.faq{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding:  50px 10%;
    align-items: center;
}
.faq h2{
    text-align: center;
    font-size: 48px;
}
.faqbox{    
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    font-size: 22px;
    transition: all 1s ease-out;
    width: 80vw;
}
.faqbox:hover{
    background-color: #414141;
    cursor: pointer;
}
footer{
    color: #AFAFAF;
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
    padding: 60px 0;
}
.footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 30px 0;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
a{
    color: #AFAFAF;
    font-size: 14px;
}

@media screen and (max-width: 1280px) {
    nav{
        max-width: 95vw;
    }
    .main{
        height: 676px;
    }
    .main .box{
        height: 676px;
    }
    .hero{
        padding: 0 30px;
    }
    .hero span:nth-child(1){
        font-size: 42px;
        font-weight:800;
    }
    .hero span:nth-child(2){
        font-size: 22px;
    }
    .hero span:nth-child(3){
        font-size: 21px;
    }
    .first{
        max-width: 95%;
        padding: 60px 10px;
    }
    .secImg img{
        width: 500px;
    }
    .secImg .video1{
        position: absolute;
        width: 370px;
        top: 75px;
        right: 70px;
    }
    .video2{
        position: absolute;
        height: 180px;
        top: 40px;
        right: 100px;
    }
    .download-area{
        height: 90px;
        width: 340px;
        bottom: 30px;
        left: 80px;
    }
    .download-area img{
        width: 50px;
        margin-left: 10px;
    }
    .download-area span p{
        text-align: left;
    }
    .first div span:first-child{
        font-size: 42px;
        font-weight: bolder;
    }
    .first div span:last-child{
        font-size: 22px;
    }
    .faq{
        padding:  50px 10px;
    }
    .faq h2{
        font-size: 40px;
    }
    .faqbox{
        padding: 22px;
        font-size: 22px;
        width: 90vw;
    }
    footer{
        width: 90vw;
        padding: 30px 0;
    }
    .hero-2{
        padding: 40px 60px;
    }
    .hero-2 .hero-description{
        font-size: 20px;
        margin-bottom: 20px;    
    }
    
}
@media screen and (max-width: 960px){
    .main{
        height: 576px;
    }
    .main .box{
        height: 576px;
    }
    .hero{
        padding: 0 30px;
    }
    .hero span:nth-child(1){
        font-size: 30px;
        font-weight:600;
    }
    .hero span:nth-child(2){
        font-size: large;
    }
    .hero span:nth-child(3){
        font-size: large;
    }
    .first{
        flex-wrap: wrap;
        padding: 80px 10px;
        gap: 30px;
    }
    .first div span:first-child{
        font-size: 30px;
        font-weight: bolder;
        text-align: center;
    }
    .first div span:last-child{
        font-size: 18px;
        text-align: center;
    }
    .secImg{
        order: 2;
    }
    .secImg img{
        width: 600px;
    }
    .secImg .video1{
        position: absolute;
        width: 450px;
        top: 90px;
        right: 75px;
    }
    .video2{
        position: absolute;
        height: 215px;
        top: 48px;
        right: 110px;
    }
    .download-area{
        height: 90px;
        width: 380px;
        bottom: 30px;
        left: 110px;
    }
    .download-area img{
        width: 50px;
        margin-left: 10px;
    }
    .download-area span p{
        text-align: left;
    }
    .faq{
        padding:  50px 10px;
    }
    .faq h2{
        font-size: 30px;
    }
    .faqbox{
        padding: 18px;
        font-size: 18px;
        width: 90vw;
    }
    footer{
        width: 90vw;
        padding: 30px 0;
    }
    .footer{
        grid-template-columns: repeat(2, 1fr);
        padding: 30px 0;
        gap: 30px;
    }
}

@media screen and (max-width: 760px){
    nav img{
        width: 120px;
    }
    .main{
        height: 576px;
        background-size: max(1920px, 100vw); 
    }
    .main .box{
        height: 576px;
    }
    .hero{
        padding: 0 30px;
    }
    .hero span:nth-child(1){
        font-size: 30px;
        font-weight:600;
    }
    .hero span:nth-child(2){
        font-size: large;
    }
    .hero span:nth-child(3){
        font-size: large;
    }
    .hero-2{
        justify-content: center;
        margin: 20px 0;
        padding: 0 20px;        
    }
    .hero-buttons{
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .hero-2 .hero-description{
        font-size: 17px;
    }
    .hero-buttons input{
        width: 100%;
        padding: 10px;
        max-width: 350px;
    }
    .hero-buttons button{
        width: 50%;
        max-width: 170px;
    }
    .first{
        flex-wrap: wrap;
        padding: 40px 10px;
        gap: 10px;
    }
    .first div span:first-child{
        font-size: 24px;
        font-weight: bolder;
        text-align: center;
    }
    .first div span:last-child{
        font-size: 16px;
        text-align: center;
    }
    .secImg{
        order: 2;
    }
    .secImg img{
        width: 400px;
    }
    .secImg .video1{
        width: 300px;
        top: 60px;
        right: 50px;
    }
    .video2{
        position: absolute;
        height: 140px;
        top: 30px;
        right: 80px;
    }
    .download-area{
        height: 60px;
        width: 260px;
        bottom: 10px;
        left: 70px;
    }
    .download-area img{
        width: 40px;
        margin-left: 0px;
    }
    .download-area span p{
        text-align: left;
        font-size: 12px;
    }
    .download-area span h6{
        text-align: left;
        font-size: 14px;
    }
    .faq{
        padding:  50px 10px;
    }
    .faq h2{
        font-size: 30px;
    }
    .faqbox{
        padding: 18px;
        font-size: 18px;
        width: 90vw;
    }
    footer{
        width: 90vw;
        padding: 30px 0;
    }
    .footer{
        grid-template-columns: repeat(2, 1fr);
        padding: 30px 0;
        gap: 30px;
    }

}
